@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

body {
  color: #5e5c7f;
  background-color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  overflow-x: hidden;
}
